<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#WafiAdminNavbar" aria-controls="WafiAdminNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
        <i></i>
        <i></i>
        <i></i>
    </span>
</button>
<div class="collapse navbar-collapse" id="WafiAdminNavbar">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">

            <a class="nav-link" is-active-route asp-class="active-page" asp-controller="Home" asp-action="Index" id="dashboardsDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="icon-home nav-icon"></i>
                الرئيسية
            </a>
        </li>
        <li class="nav-item dropdown">

            <a class="nav-link" is-active-route asp-class="active-page" asp-controller="User" asp-action="Index" id="appsDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="icon-home nav-icon"></i>
                العملاء
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" is-active-route asp-class="active-page" asp-controller="Requests" asp-action="Index" id="appsDropdown" role="button" aria-haspopup="true" aria-expanded="false">

                <i class="icon-format_list_numbered nav-icon"></i>
                الطلبات
            </a>

        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" is-active-route asp-class="active-page" asp-controller="Settings" asp-action="Index" id="appsDropdown" role="button" aria-haspopup="true" aria-expanded="false">

                <i class="icon-sort nav-icon"></i>
                الإعدادات
            </a>

        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" is-active-route href="#" id="appsDropdown" role="button" aria-haspopup="true" aria-expanded="false">

                <i class="icon-border_color nav-icon"></i>
                التقارير
            </a>

        </li>
        @*<li class="nav-item dropdown">
            <a class="nav-link" is-active-route asp-class="active-page" asp-controller="Bills" asp-action="Index" id="appsDropdown" role="button" aria-haspopup="true" aria-expanded="false">

                <i class="icon-documents nav-icon"></i>
                الفواتير
            </a>

        </li>*@

        @*<li class="nav-item dropdown">
            <a class="nav-link" href="#" id="appsDropdown" role="button">
                <i class="icon-cog nav-icon"></i>
                الإعدادات
            </a>

        </li>*@
        @*<li class="nav-item dropdown">
            <a class="nav-link" href="#" id="appsDropdown" role="button">
                <i class="icon-help_outline nav-icon"></i>
                المساعدة
            </a>

        </li>*@

        <li class="nav-item dropdown">
            <a class="nav-link" is-active-route href="#" id="appsDropdown" role="button" aria-haspopup="true" aria-expanded="false">

                <i class="icon-chat nav-icon"></i>
                الرسائل
            </a>

        </li>
        <li class="nav-item dropdown">
            <a class="nav-link " href="#" id="appsDropdown" role="button">
                <i class="icon-bell nav-icon"></i>
                الإشعارات
            </a>

        </li>
    </ul>
</div>