     <!-- Page header start -->
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">الرئيسية</li>

    </ol>
</div>
<!-- Page header end -->
<!-- Content wrapper start -->
<div class="content-wrapper">
    <div class="row gutters">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="risks-block low h-117">
                <i class="icon-users"></i>
                <div class="risk-details">
                    <h2>@ViewBag.Users</h2>
                    <p>إجمالي عدد المستخدمين</p>
                </div>
            </div>

        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">

            <div class="risks-block low h-117">
                <i class="icon-line-graph"></i>
                <div class="risk-details">
                    <h2> @ViewBag.Earnings </h2>
                    <p>إجمالي الأرباح</p>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="risks-block low h-117">
                <i class="icon-rate_review"></i>
                <div class="risk-details">
                    <h2>@ViewBag.Requests</h2>
                    <p>إجمالي الإشتراكات</p>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- Content wrapper end -->