<!-- Page header start -->
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">الرئيسية</li>

    </ol>
</div>
<!-- Page header end -->
<!-- Content wrapper start -->
<div class="content-wrapper">
    <div class="row justify-content-center gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

            <form asp-action="SearchReports" asp-controller="Reports" method="post" id="frmSearchReport" enctype="multipart/form-data">

                <div class="card m-0">
                    <div class="card-header">
                        <div class="card-title display_item "><i class="icon-grid"></i> عرض بيانات</div>
                    </div>
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="Name">من تاريخ </label>
                                    <input type="date" class="form-control" id="FromDate" name="FromDate" placeholder="">
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="Name">الى تاريخ</label>
                                    <input type="date" class="form-control" id="ToDate" name="ToDate" placeholder="">
                                </div>
                            </div>

                        </div>


                        <a href="#" class="btn btn-primary3 float-right" id="btnSearchReport"><i class="icon-search"></i> بحث</a>

                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row gutters mt-30">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

            <div class="card">
                <div class="card-header">
                    <div class="card-title"><i class="icon-info"></i> بيانات البحث</div>
                </div>
                <div id="divListReports" data-Report-url="@Url.Action("ListReports","Reports")">
                    @Html.Action("ListReports", "Reports")
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Content wrapper end -->
@section Scripts{

    <script src="~/js/Views/Report.js" asp-append-version="true"></script>
}