<!-- Page header start -->
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">الرئيسية</li>

    </ol>
</div>
<!-- Page header end -->
<!-- Content wrapper start -->
<div class="content-wrapper">
    <div class="row justify-content-center gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

            <form asp-action="SearchSubscribedUsers" asp-controller="User" method="post" id="frmSearchSubscribedUsers" enctype="multipart/form-data">

                <div class="card m-0">
                    <div class="card-header">
                        <div class="card-title display_item "><i class="icon-grid"></i>  بيانات البحث</div>
                    </div>
                    <div class="card-body">
                        <div class="row gutters">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="Name">الإسم الأول</label>
                                    <input type="text" class="form-control" id="Name" name="Name" placeholder="">
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="Name">البريد الإلكتروني</label>
                                    <input type="text" class="form-control" id="Email" name="Email" placeholder="">
                                </div>
                            </div>

                        </div>


                        <a href="#" class="btn btn-primary3 float-right" id="btnSearchSubscribedUsers"><i class="icon-search"></i> بحث</a>

                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row gutters mt-30">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

            <div class="card">
                <div class="card-header">
                    <div class="card-title"><i class="icon-info"></i>  المشتركين</div>
                </div>
                <div id="divListSubscribedUsers" data-request-url="@Url.Action("ListSubscribedUsers","User")">
                    @Html.Action("ListSubscribedUsers", "User")
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="basicModalLabel"><span class="icon-question_answer"></span>  إرسال تنبيهات</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <input hidden id="hiddenUserIDForNotification">

                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">سجل تعليقك</label>
                            <textarea class="form-control" id="textAresForNotification" rows="3"></textarea>
                        </div>

                        <a  id="btnSendUserNotification" class="btn btn-primary3 float-right" onclick="SendUserNotification()" data-url="@Url.Action("SendNotification")"><i class="icon-save"></i> حفظ</a>


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Content wrapper end -->
@section Scripts{

    <script src="~/js/Views/User.js" asp-append-version="true"></script>
}