

@model Settings
<div class="page-header">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">الإعدادت</li>

    </ol>
</div>
<!-- Page header end -->
<!-- Content wrapper start -->
<div class="content-wrapper">
    <div class="row justify-content-center gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <form action="Settings/AddEdit" method="post" id="frmAddSettings" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.SettingsId)

                <div class="card m-0">
       
                    <div class="card-body">


                        <div class="row gutters">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="Name">قيمة الاشتراك لمدة شهر  </label>
                                    <input type="text" class="form-control" asp-for="OneMonthCost" placeholder=" ">
                                    <span asp-validation-for="OneMonthCost" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="Name">قيمة الاشتراك لمدة  ثلاث اشهر  </label>
                                    <input type="text" class="form-control" asp-for="ThreeMonthsCost" placeholder=" ">
                                    <span asp-validation-for="ThreeMonthsCost" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="card m-0">
                                    <div class="card-header">
                                        <div class="card-title display_item"><i class="icon-grid"></i>سياسة الخصوصية </div>

                                    </div>
                                    <div class="card-body">

                                        <textarea class="summernote" asp-for="PrivacyPolcy"></textarea>

                                    </div>
                                </div>

                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="card m-0">
                                    <div class="card-header">
                                        <div class="card-title display_item"><i class="icon-grid"></i> الشروط والاحكام </div>

                                    </div>
                                    <div class="card-body">

                                        <textarea class="summernote" asp-for="TermsAndConditions"></textarea>

                                    </div>
                                </div>

                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="card m-0">
                                    <div class="card-header">
                                        <div class="card-title display_item"><i class="icon-grid"></i>عن التطبيق </div>

                                    </div>
                                    <div class="card-body">

                                        <textarea class="summernote" asp-for="AboutApp"></textarea>

                                    </div>
                                </div>

                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="card m-0">
                                    <div class="card-header">
                                        <div class="card-title display_item"><i class="icon-grid"></i>  الخطة الدراسية </div>

                                    </div>
                                    <div class="card-body">

                                        <textarea class="summernote" asp-for="StudyPlan"></textarea>

                                    </div>
                                </div>

                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="card m-0">
                                    <div class="card-header">
                                        <div class="card-title display_item"><i class="icon-grid"></i>Credits </div>

                                    </div>
                                    <div class="card-body">

                                        <textarea class="summernote" asp-for="Credits"></textarea>

                                    </div>
                                </div>

                            </div>
                        </div>
                         

                        <button type="button" class="btn btn-primary2 float-right" id="btnSaveSettings"><i class="icon-save"></i> حفظ</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Content wrapper end -->

@section Scripts{
  
    <script src="~/js/Views/Settings.js" asp-append-version="true"></script>
}
